server/src/main/resources/wsdl/MyService_schema1.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://cxf.apache.org" version="1.0">

  <xs:complexType name="car">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:long"/>
      <xs:element minOccurs="0" name="model" type="xs:string"/>
      <xs:element minOccurs="0" name="vendor" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
